<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.www.provider.dao.FundSubjectDao">
    <resultMap id="BaseResultMap" type="com.fund.www.provider.bean.po.FundSubject">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="subject_code" jdbcType="VARCHAR" property="subjectCode" />
        <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
        <result column="is_use" jdbcType="TINYINT" property="isUse" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, subject_code, subject_name, is_use, create_time, update_time
    </sql>

    <!-- 批量插入基金主题 -->
    <insert id="batchInsertSubject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fund_subject (subject_code, subject_name) VALUES
        <foreach collection="subjectList" item="subject" separator=",">
            (#{subject.subjectCode, jdbcType=VARCHAR}, #{subject.subjectName, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!-- 根据编码获取公司列表 -->
    <select id="getByCodeList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM fund_subject
        WHERE is_use=1 AND subject_code IN
        <foreach collection="codeList" item="code" open="(" separator="," close=")">
            #{code, jdbcType=VARCHAR}
        </foreach>
    </select>

    <!-- 获取全部主题 -->
    <select id="getAllSubject" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM fund_subject
        WHERE is_use=1
    </select>

</mapper>