<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.www.provider.dao.PlateGuPiaoDao">
    <resultMap id="BaseResultMap" type="com.fund.www.provider.bean.po.PlateGuPiao">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gupiao_code" jdbcType="VARCHAR" property="gupiaoCode" />
        <result column="gupiao_name" jdbcType="VARCHAR" property="gupiaoName" />
        <result column="plate_code" jdbcType="VARCHAR" property="plateCode" />
        <result column="plate_name" jdbcType="VARCHAR" property="plateName" />
        <result column="is_use" jdbcType="TINYINT" property="isUse" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, gupiao_code, gupiao_name, plate_code, plate_name, is_use, create_time, update_time
    </sql>

    <!-- 批量插入股票板块信息 -->
    <insert id="batchInsertPlate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO plate_gupiao (gupiao_code, gupiao_name, plate_code, plate_name) VALUES
        <foreach collection="plateList" item="plate" separator=",">
            (#{plate.gupiaoCode, jdbcType=VARCHAR}, #{plate.gupiaoName, jdbcType=VARCHAR},
             #{plate.plateCode, jdbcType=VARCHAR}, #{plate.plateName, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!-- 根据股票代码查询板块信息 -->
    <select id="queryByGupiaoCodeList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM plate_gupiao
        WHERE gupiao_code IN
        <foreach collection="codeList" item="code" open="(" separator="," close=")">
            #{code, jdbcType=VARCHAR}
        </foreach>
        AND is_use=1
    </select>

    <!-- 根据股票 code 信息删除 -->
    <update id="deleteByGupiaoCode">
        DELETE FROM plate_gupiao
        WHERE gupiao_code IN
        <foreach collection="codeList" item="code" open="(" separator="," close=")">
            #{code, jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 去重获取板块 -->
    <select id="queryDistinctPlate" resultMap="BaseResultMap">
        SELECT DISTINCT plate_code, plate_name FROM plate_gupiao WHERE is_use=1
    </select>
</mapper>